<h1>User List</h1>
<table>
  <tr>
    <th>First Name </th>             
    <th> last Name</th>                      
    <th>Email </th>
      <th>Address </th>             
    <th> city</th>                      
    <th>State </th>
      <th>Adhar number </th>             
    <th> Contact number</th>                      
    <th>age</th>
    <th>Password</th>
  </tr>
 <%# <% @user.each do |user| %> 
  <%# <tr> 
    <%# <td><%= user.first_namename</td>          
    <%# <td><%=user.last_name</td><td>      
    <%# <td><%=user.email </td>   
     <%# <td><%= user.address</td>          
    <%# <td><%=user.city</td><td>      
    <%# <td><%=user.state </td>  
     <%# <td><%= user.adhar_number</td>          
    <%# <td><%=user.contact_number</td><td>      
    <%# <td><%=user.age</td>    
     <%# <td><%= user.password</td>           
  <%# </tr> 
  <%# <% end  
 <%# </table> %>